html, body {
	min-width: 360px;
	height: 100%;
	background: url("../images/back3.jpeg") !important;
	padding: 0; 
}

#banner {
	background-color: #00FFBF;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	padding-top: 2%;
}

/*@media all and (max-width: 1200px) {*/
.navigate {
	/*padding-top: 10%;*/
	color: #6E6E6E;	
	text-align: center;
	/*vertical-align: middle;*/
}
/*}*/
.navigate {
	color: #6E6E6E;
}
.list {
	list-style-type: none;
	padding-top: 1px;
}

@media (max-width: 991px) {
	.navigate {
		font-size: 30px !important;	
	}
}

a {
	text-decoration: none !important;
}

ul {
	padding: 0;
}

.background {
	background-color: white;
	min-height: 79% !important;
	padding-top: 3%;
	padding-bottom: 3%;
	margin: 15px auto -50px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#footer {
	margin-top: 5px; 
    left: 0; bottom: 0;
    padding: 10px;
    background: #E3EAE9;
    color: #6E6E6E;
    width: 100%;
    background: url("../images/back3.jpeg") !important;
    text-align: center;
}

.stub {
		height: 50px;
		clear: right;
		clear: left;
}

.header {
	padding: 0;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #00FFBF;
}

.counter {
	border-radius: 0 10px 10px 0;
	width: 300px;
	background-color: #989898;
	color: white;
	position: absolute;
	height: 185px;
	left: -280px;
	bottom: 100px;
	border-right: 20px solid #00FFBF;
	transition: 0.5s;
	font-size: 16px;
	z-index: 1000;
}

.counter:after {
	content: 'Счетчик';
	color: white;
	position: absolute;
	bottom: 40px;
	right: -38px;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}

.counter:hover {
	left: 0;
}

.text_counter {
	color:  white;
	font-size: small;
	line-height: 1.0em;
}

.head:hover {
	background-color: #00f3b6;
}

#reply-title {
    padding: 6px;
}

.answer {
    max-width: 300px;
    word-wrap: break-word;
}
.answer img {
    max-width: 300px;
}